.modal__close-btn, .policy, .policy__text, .policy__item, .social__list, .social__link, .btn, .hero__wrap, .about__icon, .description__text, .clients__list, .clients__item, .clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop.is-hidden .modal {
  transform: translateX(1000px) rotate(180deg);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 610px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    width: 528px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: #2196f3;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.input {
  margin-bottom: 20px;
}

.input__box {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.input__text {
  display: flex;
  margin-bottom: 4px;
}

.input__wrap {
  position: relative;
}

.input__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 16px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__field:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: #212121;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__field:focus + .input__icon {
  fill: #2196f3;
}

.input__area {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__area:focus {
  fill: #2196f3;
  border-color: #2196f3;
  color: #2196f3;
}

.input__area::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.policy__check:checked + .policy__text .policy__item {
  background-color: #2196f3;
  border: none;
}

.policy__text {
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .policy__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.policy__item {
  width: 15px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__icon {
  fill: #ffffff;
}

.policy__link {
  text-decoration-line: underline;
  color: #2196f3;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo__header {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo__header {
    display: flex;
    margin-right: 90px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__footer {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .logo__footer {
    text-align: left;
  }
}

.logo__header--black-part {
  color: #000000;
}

.logo__footer--white-part {
  color: #ffffff;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__link--team-colors {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--team-colors:hover, .social__link--team-colors:focus {
  color: #ffffff;
}

.social__link--footer-colors {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.social__icon {
  fill: currentColor;
}

.btn {
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.btn--accent-color {
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--accent-color:hover, .btn--accent-color:focus {
  background-color: #188ce8;
}

.btn--white-color {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--white-color:hover, .btn--white-color:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.open_menu_btn {
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.open_menu_btn:hover, .open_menu_btn:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .open_menu_btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 48px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  transform: translateX(0);
}

.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu .close_menu_btn {
  display: block;
  margin-left: auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.mob-menu .close_menu_btn:hover, .mob-menu .close_menu_btn:focus {
  fill: #2196f3;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mob-menu__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

.mob-menu__contacts {
  display: flex;
  margin-top: auto;
  margin-bottom: 64px;
}

.mob-menu__tel {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

@media screen and (min-width: 480px) {
  .mob-menu__tel {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

.mob-menu__mail {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .mob-menu__mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.mob-menu__social-list {
  display: flex;
}

.mob-menu__social-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__social-link {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mob-menu__social-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header__wrap {
  display: flex;
  flex-direction: row;
}

.header__navigation {
  display: flex;
}

.header__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

.header__link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header__contacts {
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .header__contacts {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-list {
    margin-right: 10px;
    flex-direction: row;
  }
}

.header__mail {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .header__mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__mail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header__mail:hover, .header__mail:focus {
  color: #2196f3;
  fill: #2196f3;
}

.header__tel {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__tel:hover, .header__tel:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header__tel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header__icon {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .header__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.current {
  color: #2196f3;
}

.hero {
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob.jpg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-2x.jpg);
  }
}

.hero__wrap {
  flex-wrap: wrap;
  padding: 118px 45px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero__wrap {
    padding: 118px 189px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__wrap {
    width: 700px;
    padding: 200px 0px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.about__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.about__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.about__icon {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.about__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .about__title {
    text-align: left;
  }
}

.about__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.description {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .description {
    display: none;
  }
}

.description__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.description__list {
  display: flex;
}

.description__item {
  position: relative;
}

.description__item:not(:last-child) {
  margin-right: 30px;
}

.description__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  min-height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.team__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  margin-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__photo {
  width: 100%;
}

.team__description {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team__occupation {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.clients__list {
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__item {
  margin-bottom: 30px;
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients__icon {
  width: 100%;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-left: auto;
    padding-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrap {
    justify-content: space-around;
  }
}

.footer__meta {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__meta {
    margin-right: 70px;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__address {
  font-style: normal;
}

.footer__map {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__map {
    margin-bottom: 9px;
  }
}

.footer__mail {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail:hover, .footer__mail:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer__mail {
    margin-bottom: 9px;
  }
}

.footer__tel {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__tel:hover, .footer__tel:focus {
  color: #2196f3;
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__title {
    text-align-last: left;
  }
}

@media screen and (max-width: 1199px) {
  .footer__social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-right: 93px;
  }
}

.subscripe__form {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscripe__form {
    display: flex;
  }
}

.subscribe__email-input {
  width: 450px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}

.subscribe__email-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 480px) {
  .subscribe__email-input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__email-input {
    width: 358px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .filter__list {
    align-items: center;
    justify-content: center;
  }
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.portfolio__link {
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.portfolio__list {
  margin-top: 40px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-top: 50px;
  }
}

.portfolio__item {
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__image {
  width: 100%;
}

.portfolio__about {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 77px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__about {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .portfolio__about {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__about {
    padding: 63px 24px;
  }
}

.portfolio__box {
  display: block;
  padding: 20px 24px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  border-top: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__box {
    flex-grow: 1;
  }
}

.portfolio__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */