$accent-color: #2196f3;
$btn-hover-color: #188ce8;
$section-background-color: #2f303a;
$main-title-color: #ffffff;
$second-title-color: #212121;
$third-title-color: #212121;
$main-text-color: #757575;
$main-btn-color: #ffffff;
$second-btn-color: #212121;
$header-text-color: #212121;
$btn-background-color: #f5f4fa;
$header-second-text-color: #757575;
$footer-text-color: #ffffff;
$footer-second-text-color: rgba(255, 255, 255, 0.6);
$header-logo-second-part-color: #000000;
$footer-logo-second-part-color: #ffffff;
$icon-color: #afb1b8;
$icon-hover-color: #ffffff;
$footer-icons-background-color: rgba(255, 255, 255, 0.1);
$main-content-background-color: #f5f4fa;
$form-border-color: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$footer-placeholder-text: rgba(255, 255, 255, 0.6);
$modal-icon-color: #212121;

$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
